matplotlib==3.0.0
ccxt==1.17.434
pandas==0.24.2
bitshares==0.3.2
ascii_graph==1.5.1
scikit_learn==0.21.3
cointiger-sdk==0.1.2  
websocket-client==0.56.0
requests==2.31.0
graphenelib==1.1.18
bitshares==0.3.2
uptick==0.2.4
keyring==19.2.0
npyscreen==4.10.5

